<!-- Always shows a header, even in smaller screens. -->
<header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
  <div class="mdl-layout--large-screen-only mdl-layout__header-row">
  </div>
  <div class="mdl-layout--large-screen-only mdl-layout__header-row">
  </div>
  <div class="mdl-layout--large-screen-only mdl-layout__header-row max-width">
    <div class="header-box">
      <div>
        Hi, I am
      </div>
      <h3>{{title}}</h3>
      <div class="typed-wrapper">
        <span #typed></span>
      </div>
      <h6>#UNDER CONSTRUCTION</h6>
    </div>
  </div>
  <div class="mdl-layout--large-screen-only mdl-layout__header-row">
  </div>
  <div class="mdl-layout--large-screen-only mdl-layout__header-row">
  </div>
  <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
    <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
      <a class="mdl-navigation__link" routerLinkActive="is-active" routerLink="/portfolio">Portfolio</a>
      <a class="mdl-navigation__link" routerLinkActive="is-active" href="">Blog</a>
      <a class="mdl-navigation__link" routerLinkActive="is-active" routerLink="/about">About</a>
      <a class="mdl-navigation__link" routerLinkActive="is-active" href="">Contact</a>
    </nav>
  </div>
</header>