<ng-progress [direction]="'ltr+'" [min]="20" [max]="1" [speed]="200" [trickleSpeed]="300" [spinner]="true" [spinnerPosition]="'left'"
  [thick]="true" [meteor]="true" [color]="'#FF5F64'" [ease]="'linear'"></ng-progress>
<div class="uk-grid uk-child-width-1-1">
  <div>
    <div class="uk-flex article-s uk-box-shadow-medium" *ngFor="let post of posts">
      <div class="uk-width-1-5@m uk-margin-right">
        <div class="thumbnail" [style.background-image]="'url(' + url + '/posts/' + post.thumbnail + ')'"></div>
      </div>
      <div class="uk-width-expand@m uk-flex-middle uk-flex">
        <div class="article">
          <a routerLink="/blog/detail/{{post.id}}">
            <h3>{{post.title}}</h3>
          </a>
          <p class="uk-article-meta">By Sadi Mahmud on {{post.createdAt | amTimeAgo}}
          </p>
          <span class="post-body">
            {{post.body | stripHtml }}....
          </span>
          <div>
            <span class="uk-label">{{post.body | readTime}} Read</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>