<div class="uk-grid uk-child-width-1-1">
  <div>
    <div class="uk-flex article-s uk-box-shadow-medium">
      <div class="uk-width-1-5@m uk-margin-right">
        <img src="http://via.placeholder.com/500x400/cccccc/000" alt="">
      </div>
      <div class="uk-width-expand@m uk-flex-middle uk-flex">
        <div class="article">
          <h3>Dummy Post</h3>
          <p class="uk-article-meta">Written by
            <a href="#">Super User</a> on 12 April 2012. Posted in
            <a href="#">Blog</a>
          </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.Lorem ipsum dolor sit
            amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.Lorem ipsum dolor sit amet, consectetur adipiscing
            elit, sed do eiusmod tempor incididunt.</p>

        </div>
      </div>

    </div>

  </div>
</div>